body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: lightslategray
}

.heading {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.paragraph {
    text-align: center;
    line-height: 1.6;
    text-wrap: initial;
}

.heading2 {
    margin: 20px;
    padding: 25px;
    text-align: center;
    border: solid beige;
    background-color: aquamarine;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 25px;
}

.cards video {
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: #ccc;

}

.heading1{
    background-color: yellowgreen;
    color: black;
    padding: 20px;
    text-align: center;
    border: solid black;
   
}
.Pictures{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 25px;
}
.Pictures img{
     border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: #ccc;
    width: 300px;
    height: 300px;
    object-fit: cover;
}